body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #005f4b, #addd65); /* updated to same gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signup-container {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 500px; 
  overflow-y: auto;
  max-height: 89vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #022c22; 
  font-size: 24px;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #a5d6a7;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #022c22;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.login-link a {
  color: #3b5998;
  text-decoration: none;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 15px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
}
